# cp scripts/release.env.example scripts/release.env
RELEASE_HOST=your.server.ip
RELEASE_USER=ubuntu
RELEASE_SSH_KEY=~/.ssh/id_rsa
RELEASE_BASE_DIR=/home/ubuntu/pte-live-ecrm
RELEASE_OPS_DIR=/home/ubuntu/pte-live-ecrm/opts
RELEASE_GOOS=linux
RELEASE_GOARCH=amd64
PTE_LIVE_ECRM_DOCKER_NET=pte_live_net
